@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Eczar:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eczar", sans-serif;
}
section .all {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

header {
  position: relative;
  top: 0;
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #de354c;
  color: #283747;
}

header .logo {
  font-size: 100px;
  font-weight: lighter;
  color: #283747;
  text-transform: uppercase;
  letter-spacing: 15px;
}
nav a {
  color: #283747;
  word-spacing: 5px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 3px 35px;
  border-radius: 25px;
  transition: 0.3s;
  transition-property: background;
}

nav a:hover {
  color: #de354c;
  background: #283747;
}

.logo {
  position: relative;
  font-family: "Bebas Neue", "Eczar", sans-serif;
  color: #292826;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1px;
}

.header-topic {
  width: 100%;
  height: 700px;
  background: url(img1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.header-topic .tagline h2 {
  margin: 0px 100px;
  max-width: 750px;
  padding-top: 100px;
  color: #3c1874;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
  text-align: left;
}

.header-topic .tagline span {
  color: #932432;
}

.tagline .ptag {
  max-width: 650px;
  margin: 15px 100px;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  text-align: justify;
  margin-bottom: 40px;
  color: #283747;
  background-color: rgba(245, 239, 243, 0.6);
  border-radius: 20px;
}

#main {
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  width: 600px;
  height: 1000px;
  overflow: auto;
}

h1 {
  color: #283747;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
}

h2 {
  color: #932432;
  font-size: 35px;
  font-weight: 700;
  padding: 20px 10px;
}

h3 {
  color: #932432;
  font-size: 35px;
  font-weight: 700;
  padding: 20px 10px;
}

p {
  color: #283747;
  font-size: 16px;
  line-height: 48px;
  margin-top: 60px;
  margin-right: 20px;
  padding: 20px 10px;
  text-align: center;
  max-width: 500px;
}

.pull-quote {
  margin: 0 auto;
  width: 400px;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

h4 {
  color: #283747;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  letter-spacing: 5px;
  text-align: center;
}

.socials a {
  color: #283747;
  transition: 0.3s;
  position: relative;
  font-size: 25px;
  transition-property: transform;
}

.socials a:not(:last-child) {
  margin-right: 60px;
}

.socials a:hover {
  transform: scale(1.5);
}

label {
  display: none;
}

#check {
  z-index: 3;
  display: none;
}

@media (max-width: 960px) {
  header nav {
    display: none;
  }

  label {
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover {
    color: #292826;
  }

  label .close-btn {
    display: none;
  }

  #check:checked ~ header nav {
    z-index: 2;
    position: fixed;
    background: rgba(205, 92, 92, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header nav a {
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .menu-btn {
    display: none;
  }

  #check:checked ~ header label .close-btn {
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .menu-btn {
    position: absolute;
  }

  header .logo {
    position: absolute;
    top: -30px;
  }

  .header-topic .tagline h2 {
    font-size: 45px;
    line-height: 50px;
  }

  .header-topic .tagline h2 span {
    font-size: 40px;
    font-weight: 600;
  }

  .header-topic .ptag {
    font-size: 14px;
  }
}

@media (max-width: 560px) {
  .header-topic .tagline h2 {
    font-size: 35px;
    line-height: 40px;
  }

  .header-topic .tagline h2 span {
    font-size: 30px;
    font-weight: 600;
  }

  .header-topic .ptag {
    font-size: 14px;
  }
}
