@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html {
  background: url("images/iotbg.jpeg");
  background-position: center;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

#container header {
  display: block;
  width: 50%;
  padding-bottom: 50px;
}
#container header h2 {
  font-size: 3em;
  font-weight: bolder;
  padding: 10px;
  border-bottom: 3px solid #020202;
  color: rgb(232, 213, 213);
}

#container header h2 span {
  font-weight: lighter;
  color: #d60505;
}

#container #image-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#container #image-box .column {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

#container #image-box .column img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
  transition-property: transform;
}
#container #image-box .column img:hover {
  transform: scale(105%);
}

#container #btn {
  margin: 40px 0 75px 0;
  background: rgb(32, 34, 36);
  padding: 15px 40px;
  border-radius: 5px;
  transition-property: transform;
}

#container #btn a {
  color: #d6381d;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 2px;
}

#container #btn:hover {
  transform: scale(1.3);
}

@media only screen and (max-width: 769px) {
  #container #image-box {
    flex-direction: column;
  }
  #container #image-box .column {
    width: 100%;
  }
}

@media only screen and (max-width: 544px) {
  #container header {
    width: 100%;
  }
  #container header h2 {
    font-size: 1.2em;
  }
}
