@import url("https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,600&display=swap");

html {
  font-family: "Glory", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}

#logo img {
  border: 2px solid #fff;
  border-radius: 3px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  align-content: center;
  margin: 20px;
  padding: 0px 10px;
  font-weight: 900;
  font-size: 1.1em;
  line-height: 1;
  box-sizing: border-box;
  height: 40px;
}

#main {
  max-width: 1280px;
  max-height: 100%;
  margin: 30px auto;
  padding: 15px;
  background-color: #ff94e0;
  border-radius: 5px;
}

#title {
  text-align: center;
}

#main p {
  text-align: center;
}

#img-div {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
  background-color: #ff59c7;
}

#image {
  display: block;
  max-width: 100%;
  padding-bottom: 10px;
}

#info {
  max-width: 600px;
  margin: 0 auto;
}

#info h3 {
  text-align: center;
}

#info ul li {
  margin-bottom: 10px;
  line-height: 30px;
}

h5 {
  text-align: center;
}
